<header class="relative w-full border-b bg-white pb-4">
  <div class="mx-auto flex max-w-7xl items-center justify-between px-4 py-2">
    <div class="inline-flex items-center space-x-2">
      <a [routerLink]="['/']" class="font-bold text-lg cursor-pointer">Zenith</a>
    </div>

    <!-- Desktop Navigation -->
    <nav class="hidden lg:flex flex-grow mt-10 justify-center items-center">
      <ul class="flex space-x-8">
        <li><a [routerLink]="['/']" class="text-sm font-semibold text-gray-800 hover:text-gray-900">Home</a></li>
        <li><a [routerLink]="['/news']" class="text-sm font-semibold text-gray-800 hover:text-gray-900">News</a></li>
        <li><a [routerLink]="['/statistics']" class="text-sm font-semibold text-gray-800 hover:text-gray-900">Overview</a></li>
        <li><a [routerLink]="['/events']" class="text-sm font-semibold text-gray-800 hover:text-gray-900">Events</a></li>
        <li><a [routerLink]="['/athletes']" class="text-sm font-semibold text-gray-800 hover:text-gray-900">Athletes</a></li>
        <li><a [routerLink]="['/coaches']" class="text-sm font-semibold text-gray-800 hover:text-gray-900">Coaches</a></li>
        <li><a [routerLink]="['/results']" class="text-sm font-semibold text-gray-800 hover:text-gray-900">Results</a></li>
      </ul>
    </nav>

    <!-- Desktop Buttons -->
    <div class="hidden lg:flex gap-4 items-center">
      <button (click)="loginUser()" type="button" class="rounded-md bg-orange-500 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-orange-500/80">Login</button>
      <button (click)="signupUser()" type="button" class="rounded-md bg-orange-500 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-orange-500/80">Register</button>
    </div>

    <!-- Mobile Menu Toggle -->
    <div class="lg:hidden flex items-center">
      <svg (click)="toggleMenu()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6 cursor-pointer">
        <line x1="4" y1="12" x2="20" y2="12"></line>
        <line x1="4" y1="6" x2="20" y2="6"></line>
        <line x1="4" y1="18" x2="20" y2="18"></line>
      </svg>
    </div>
  </div>

  <!-- Mobile Menu -->
  <nav [ngClass]="{'block': isMenuOpen, 'hidden': !isMenuOpen}" class="lg:hidden transition-transform transform fixed top-0 left-0 w-full bg-white border-t border-gray-200 z-50">
    <div class="flex justify-between items-center p-4 border-b border-gray-200">
      <span class="text-lg font-bold">Menu</span>
      <button (click)="closeMenu()" class="text-gray-600 hover:text-gray-900">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6">
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
      </button>
    </div>
    <ul class="flex flex-col space-y-4 p-4">
      <li><a (click)="closeMenu()" [routerLink]="['/']" class="text-sm font-semibold text-gray-800 hover:text-gray-900">Home</a></li>
      <li><a (click)="closeMenu()" [routerLink]="['/news']" class="text-sm font-semibold text-gray-800 hover:text-gray-900">News</a></li>
      <li><a (click)="closeMenu()" [routerLink]="['/statistics']" class="text-sm font-semibold text-gray-800 hover:text-gray-900">Overview</a></li>
      <li><a (click)="closeMenu()" [routerLink]="['/events']" class="text-sm font-semibold text-gray-800 hover:text-gray-900">Events</a></li>
      <li><a (click)="closeMenu()" [routerLink]="['/athletes']" class="text-sm font-semibold text-gray-800 hover:text-gray-900">Athletes</a></li>
      <li><a (click)="closeMenu()" [routerLink]="['/coaches']" class="text-sm font-semibold text-gray-800 hover:text-gray-900">Coaches</a></li>
      <li><a (click)="closeMenu()" [routerLink]="['/results']" class="text-sm font-semibold text-gray-800 hover:text-gray-900">Results</a></li>
      <li><button (click)="loginUser()" type="button" class="w-full rounded-md bg-orange-500 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-orange-500/80">Login</button></li>
      <li><button (click)="signupUser()" type="button" class="w-full rounded-md bg-orange-500 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-orange-500/80">Register</button></li>
    </ul>
  </nav>
</header>
