<header class="relative w-full border-b bg-white pb-4">
  <div class="mx-auto flex max-w-7xl items-center justify-between px-4 py-2">
    <div class="inline-flex items-center space-x-2">
      <span class="font-bold text-lg">Zenith</span>
    </div>
    <div class="hidden lg:block">
      <ul class="inline-flex space-x-8">
        <li>
          <a
            href="#"
            class="text-sm font-semibold text-gray-800 hover:text-gray-900"
          >
            Home
          </a>
        </li>
        <li>
          <a
            href="/events"
            class="text-sm font-semibold text-gray-800 hover:text-gray-900"
          >
            Events
          </a>
        </li>
        <li>
          <a
            href="/athletes"
            class="text-sm font-semibold text-gray-800 hover:text-gray-900"
          >
            Athletes
          </a>
        </li>
        <li>
          <a
            href="/coaches"
            class="text-sm font-semibold text-gray-800 hover:text-gray-900"
          >
            Coaches
          </a>
        </li>
        <li>
          <a
            href="/results"
            class="text-sm font-semibold text-gray-800 hover:text-gray-900"
          >
            Results
          </a>
        </li>
      </ul>
    </div>
    <div class="hidden lg:block">
      <button
        type="button"
        class="rounded-md bg-orange-500 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-orange-500/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
      >
        Login
      </button>
    </div>
    <div class="lg:hidden">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-6 w-6 cursor-pointer"
      >
        <line x1="4" y1="12" x2="20" y2="12"></line>
        <line x1="4" y1="6" x2="20" y2="6"></line>
        <line x1="4" y1="18" x2="20" y2="18"></line>
      </svg>
    </div>
  </div>
</header>